@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #07371a;
  --secondary-color: #3a510b;
}

html {
  font-size: 62.5%;
}

.activeLink {
  background-color: #07371a;
  color: white;
  border-radius: 5px;
}
